<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="inventory-box">
                    <div class="inhhouse-box">
                        <div class="map-title" style="display: flex; justify-content: space-between;">
                            <h5>Deposit Payment Method</h5>
                            <mat-icon class="close-icon" color="grey" style="cursor: pointer;"
                                (click)="closeModal()">close</mat-icon>
                        </div>
                        <br>
                        <div class="inventory-form">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="inventory-inputbox">
                                    <div class="inv-input" style="width: 100%">
                                        <label class="label-input">Payment Method</label>
                                        <ng-select [clearable]="false" loadingText="Loading..." [virtualScroll]="true"
                                            [searchable]="false" formControlName="payment_method_id" placeholder="Payment Method">
                                            <ng-option *ngFor="let paymentMethod of data?.paymentMethods" [value]="paymentMethod.id">
                                                {{ paymentMethod.title | titlecase }}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="inventory-inputbox">
                                    <div class="inv-input" style="width: 100%">
                                        <label class="label-input">Bank</label>
                                        <ng-select [clearable]="false" loadingText="Loading..." [virtualScroll]="true"
                                            [searchable]="false" formControlName="bank_id" placeholder="Bank">
                                            <ng-option *ngFor="let bank of data?.banks" [value]="bank.id">
                                                {{ bank.name | titlecase }}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="inventory-inputbox">
                                    <div class="inv-input" style="width: 100%">
                                        <label class="label-input">Is Active</label>
                                        <ng-select [clearable]="false" loadingText="Loading..." [virtualScroll]="true"
                                            [searchable]="false" formControlName="is_active">
                                            <ng-option *ngFor="let request of requests" [value]="request.id">
                                                {{ request.name | titlecase }}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <br>
                                <div class="inverntory-btn" style="display: flex;">
                                    <button mat-button type="button"
                                        style="background: #d7e0e9; color: black; border: none; margin-right: 4px"
                                        (click)="closeModal()">Cancel</button>
                                    <button mat-button style="margin: 0px;">{{this.data?.payload ?
                                        'Update' : 'Save'}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>