.branch {
    border-radius: 12px;
    background: #7f2269;;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}
.icon{
    font-size: 28px;
}
.badge-notify{
    background:#7f2269;
    position:relative;
    color: #fff;
    top: -18px;
    left: -5px;
}