<app-loader class="loader" *ngIf="isLoading"></app-loader>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="inventory-box">
                    <div class="inhhouse-box">
                        <div class="map-title">
                            <h5>
                                <span (click)="back()">
                                    <mat-icon aria-hidden="false" aria-label="Example arrow_back icon">arrow_back
                                    </mat-icon>
                                </span> {{roleId ? 'Edit' : 'Add'}} Role
                            </h5>
                        </div>
                        <div class="inventory-form">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="add-tran-input">
                                        <label class="label-input required">Name</label>
                                        <input type="text" class="invt-input form-control titlecase" formControlName="name" required>
                                        <p *ngIf="form.controls.name.touched && form.controls.name.invalid"
                                            class="text-danger input-error">
                                            <span *ngIf="form.controls.name.errors.required">name is
                                                required</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="add-tran-input">
                                        <label>Description</label>
                                        <textarea type="text" class="invt-input form-control" formControlName="description"></textarea>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12" style="text-align: right;">
                                        <div class="inverntory-btn mt-3"
                                            style="display: flex; justify-content: flex-end;">
                                            <button [disabled]="form.invalid || isLoading" [class.spinner]="isLoading"
                                                mat-button style="margin: unset;">
                                                {{roleId ? 'Update' : 'Create'}} Role
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-added-group *ngIf="roleId" [id]="roleId" (emitResponse)="emitResponse()" [dataSource]="groups">
        </app-added-group>
        <app-added-permission *ngIf="roleId" [id]="roleId" (emitResponse)="emitResponse()" [dataSource]="groups"
            [permissions]="permissions"></app-added-permission>
    </div>
</div>