table {
    width: 100%;
  }
  
  mat-panel-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 5px;
    color: #282d30;
  }
  .addrole {
    font-size: 16px;
    font-weight: 600;
    color: #7f2269;
    text-decoration: underline;
  }
  .mat-box {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
  }
  .mat-box h5 {
    font-size: 16px;
    margin-top: 20px;
  }
  
  mat-form-field {
    width: 100%;
    position: relative;
    top: -5px;
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  
  .spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner 0.8s linear infinite;
  }
  
  .readonly {
    background-color: #9d9b9b;
  }
  